<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
	    <a class="navbar-brand" href="#">Expense Manager</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
	            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	    </button>
	
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	        <ul class="navbar-nav mr-auto">
	            <li class="nav-item">
	                <a class="nav-link" href="/view-expenses">View Expenses</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="/load-expenses">Load Expenses</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="/config">Config</a>
	            </li>
	        </ul>
	    </div>
	</nav>
</html>